<div class="container">

    <div class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Recover</h1>
      <label class="sr-only">Username</label>
      <input type="email" class="form-control" placeholder="Username" required="" autofocus="">
      <br>
      <button class="btn btn-lg btn-primary btn-block">Recover Password</button>
      <br>
      <a class="float-right" routerLink="/auth/login">Log In</a>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </div>

  </div>
